body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: 'Gilroy', sans-serif;
    color: #6F6F6F;
    /*overflow-x: hidden;*/
}

.layout {
    display: flex;
    height: 100vh;

}

.sidebar {
    background-color: var(--accent-bg-color);
    width: 80px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar__toggle, .header__hamburger {
    display: none;
    background: none;
    border: none;
    color: var(--textfield-primary-label);
    font-size: 24px;
    cursor: pointer;
}

.sidebar.expanded {
    width: 250px; /* Ancho expandido de la sidebar */
}

.sidebar {
    width: 80px;
    background-color: #19274e;
    height: 100vh;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar__toggle, .header__hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.sidebar.expanded {
    width: 250px; /* Ancho expandido de la sidebar */
}


.header {
    background-color: #ffffff;

    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title {
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
}

.content {
    flex: 1; /* Ocupa el espacio restante */
    display: flex;
    flex-direction: column;

    background-color: #F4F4F4;
    overflow-y: auto;
    height: 100%;
}

.content__header {
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.content__main {
    flex: 1; /* Ocupa el espacio restante debajo de la cabecera */
    overflow-y: auto; /* Permite scroll si el contenido es demasiado grande */
}
.nav__link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 1rem 0;
}

.nav__icon {
    font-size: 2rem;
    color: #0099DD;

}

.nav__link:hover {
    background-color: #30475e;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.user-menu {
    position: relative;
}

.user-info {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.user-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
}

.user-dropdown a {
    color: #333;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.user-dropdown a:hover {
    background-color: #f7f7f7;
}

.user-info:hover + .user-dropdown {
    display: block;
}

user-info__content {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}

.dashboard__hero {
    position: relative;
    border-radius: 8px;
    color: white;
    height: 150px;
    display: flex;
    align-items: flex-start;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.dashboard__hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/infrastructure/assets/img/paneles_solares.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.7) blur(2px); /* Aplica tonalidad y borrosidad */
    z-index: 1;
}

.dashboard__hero-content {
    position: relative;
    z-index: 2;
    padding: 10px;
}

.dashboard__hero-title {
    font-size: 24px;
    margin: 0;
}

.dashboard__hero-subtitle {
    font-size: 16px;
    margin: 5px 0 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        padding-top: 0;
        transform: translateX(-100%);
        position: absolute;
        z-index: 100;
    }
    .sidebar.expanded {
        transform: translateX(0);
    }
    .header__hamburger {
        display: block;
    }

    .sidebar {
        transform: translateX(-100%);
        position: absolute;
        z-index: 100;
    }
    .sidebar.expanded {
        transform: translateX(0);
    }
    .header__hamburger {
        display: block;
    }
    .header {
        width: 100%;
        margin-left: 0;
    }
}