:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --border-radius-select: 10px;
    --border-radius-input-button: 10px;

    --textfield-primary-bg: #e8f0fe;
    --textfield-primary-border: #010309;
    --textfield-primary-label: rgba(0, 0, 0, 0.89);
    --text-error-active: #af2626;

    --active-color: #00CAE6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Tema oscuro */
[data-theme="dark"] {
    --textfield-primary-bg: #333;
    --textfield-primary-border: #999;
    --textfield-primary-label: #fff;
    --text-error-active: #ff5252;
}

/*body {*/
/*    margin: 0;*/
/*    display: flex;*/
/*    place-items: center;*/
/*    min-width: 320px;*/
/*    min-height: 100vh;*/
/*}*/



*, ::before, ::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: 'Gilroy', sans-serif;
    color: #6F6F6F;
    overflow-x: hidden;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
    padding: 2em;
}

.not-found-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    width: auto;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
}

.not-found-page__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: auto;
    height: 660px;
    z-index: -1;
}

.hero {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    flex-wrap: wrap;
    height: 200px;
    color: white;
    overflow: hidden;
    border-radius: 8px;
}

.hero__background {
    background-image: url('src/infrastructure/assets/img/paneles_solares.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    z-index: -1;
}

.hero__title {
    background: rgba(0, 0, 0, 0);
    padding: 0 20px;
    width: 100%;
    border-radius: 10px;
}

.hero__body {
    background: rgba(0, 0, 0, 0);
    padding: 0 20px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #0b0e4c;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
