<nav class="breadcrumb">
    <ul class="breadcrumb__list">
        <li class="breadcrumb__item">
            <a href="#" class="breadcrumb__link breadcrumb__link--active">Home</a>
            <span class="breadcrumb__divider">&rarr;</span>
        </li>
        <li class="breadcrumb__item">
            <a href="#" class="breadcrumb__link">Productos</a>
            <span class="breadcrumb__divider">&rarr;</span>
        </li>
        <li class="breadcrumb__item">
            <a href="#" class="breadcrumb__link">Perfil</a>
        </li>
    </ul>
</nav>